.user-list-item{border: 1px solid #999; padding: 8px}
.user-list-item:hover{text-decoration: underline}

body,.input,.button{font:normal 16px Consolas; margin: 0px}
.label{display: block; margin: 0 0 5px}
.input{display:block; margin: 0 0 10px; border-radius: 3px; }
.button{border: 1px solid; border-radius: 3px;background:#eee;color:#333;padding: 10px 10px}
.button:hover{background:#a8a8a8}

.dim {
    opacity: 1;
}
.f6 {
    font-size: .875rem;
}
.mb2 {
    margin-bottom: .5rem;
}
.ph3 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.pv2 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.bg-dark-green {
    background-color: #137752;
}
.white {
    color: #fff;
}
.link {
    text-decoration: none;
}
.db {
    display: block;
}
.br3 {
    border-radius: .5rem;
}
.dim { opacity: 1; -webkit-transition: opacity .15s ease-in; transition: opacity .15s ease-in; }
.dim:hover, .dim:focus { opacity: .5; -webkit-transition: opacity .15s ease-in; transition: opacity .15s ease-in; }
.dim:active { opacity: .8; -webkit-transition: opacity .15s ease-out; transition: opacity .15s ease-out; }